AccessModifierOffset: 0
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
BreakTemplateDeclarations: Yes
IndentCaseLabels: true
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
