AccessModifierOffset: 0
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: None
BreakTemplateDeclarations: Yes
IndentCaseLabels: true
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
